p {
  margin-bottom: 0; }

header {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 9999;
  background-color: #fff; }
  @media (max-width: 992px) {
    header {
      height: 90px; } }
  header .logo {
    width: 70px; }
    header .logo .logo_img {
      width: 100%; }
  header .nav_content {
    display: flex;
    flex-direction: column; }
    header .nav_content .nav {
      min-width: 750px;
      display: flex;
      justify-content: flex-end;
      font-weight: bold;
      font-size: 18px; }
      @media (max-width: 992px) {
        header .nav_content .nav {
          display: none; } }
      header .nav_content .nav .nav-item .nav-link {
        color: rgba(34, 34, 34, 0.8);
        display: block;
        font-size: 13px; }
        header .nav_content .nav .nav-item .nav-link:last-child {
          padding-left: 0 !important; }
      header .nav_content .nav .nav-item .nav_btn {
        font-size: 18px; }
  header .container {
    justify-content: space-between; }
    header .container [data-bs-toggle="offcanvas"] {
      display: none;
      width: 70px; }
      @media (max-width: 992px) {
        header .container [data-bs-toggle="offcanvas"] {
          display: block; } }
      header .container [data-bs-toggle="offcanvas"] .menu_icon {
        width: 100%; }
        @media (max-width: 500px) {
          header .container [data-bs-toggle="offcanvas"] .menu_icon {
            width: 80%; } }
    header .container .offcanvas .list-group .list-group-item {
      padding: 16px; }
      header .container .offcanvas .list-group .list-group-item .href_main {
        color: #222222;
        font-size: 20px;
        font-weight: bold; }
        header .container .offcanvas .list-group .list-group-item .href_main:hover {
          text-decoration: underline; }

footer .footer_top {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #ebebeb;
  position: relative; }
  footer .footer_top .footer_area {
    padding-left: 40px;
    padding-right: 40px;
    position: relative; }
    footer .footer_top .footer_area .corporation_area {
      position: relative; }
      footer .footer_top .footer_area .corporation_area .term_list {
        display: inline-flex;
        padding-left: 0; }
        footer .footer_top .footer_area .corporation_area .term_list .term_item {
          margin-right: 15px; }
        footer .footer_top .footer_area .corporation_area .term_list .term_link {
          display: block;
          font-size: 14px;
          letter-spacing: -.21px;
          color: #000; }
      footer .footer_top .footer_area .corporation_area .business_info {
        display: flex;
        justify-content: space-between; }
        @media (max-width: 992px) {
          footer .footer_top .footer_area .corporation_area .business_info {
            flex-direction: column; } }
        footer .footer_top .footer_area .corporation_area .business_info .info_item {
          float: left; }
          footer .footer_top .footer_area .corporation_area .business_info .info_item .info_title {
            float: left;
            line-height: 23px;
            font-size: 12px;
            letter-spacing: -.07px;
            color: rgba(34, 34, 34, 0.5);
            max-width: 653px;
            margin-right: 4px; }
            footer .footer_top .footer_area .corporation_area .business_info .info_item .info_title a {
              text-decoration: underline !important;
              color: rgba(34, 34, 34, 0.5);
              cursor: pointer; }
        footer .footer_top .footer_area .corporation_area .business_info .cs_area {
          float: left;
          line-height: 23px;
          font-size: 16px;
          font-weight: bold;
          color: #000; }
          footer .footer_top .footer_area .corporation_area .business_info .cs_area .info_title {
            margin-bottom: 5px; }
          footer .footer_top .footer_area .corporation_area .business_info .cs_area .time_term {
            float: left;
            font-size: 13px;
            letter-spacing: -.07px;
            color: rgba(34, 34, 34, 0.5);
            max-width: 280px;
            line-height: 20px; }

.bold {
  font-weight: bold; }

.blank {
  margin-right: 17px; }

.sub_blank {
  margin-right: 10px; }

/*# sourceMappingURL=h_f.css.map */