
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>미래 메이커스</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- CSS-->
    <link href="css/main.css" rel="stylesheet" />
</head>

<body>
    <script src="js.js"></script>


    <div class="wrap mx-auto">
        <!-- Responsive header-->
        <nav class="header header-expand-lg header-dark bg-white header-line">
            <div class="container px-5">
                <a class="header-brand text-black" href="#!">Mirae Makers</a>
            </div>
            <div class="me-5">
                <div>
                    <ul class="header-nav mx-auto mb-2 mb-lg-0 me-5">
                        <li class="nav-item"><a class="nav-link text-dark" aria-current="page" href="#!">회원가입</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="#!">로그인</a></li>
                    </ul>
                </div>
                <div class="collapse header-collapse">
                    <ul class="header-nav mx-auto mb-2 mb-lg-0 me-5">
                        <li class="nav-item"><a class="nav-link active fw-bold fs-7 text-black" aria-current="page" href="#!">마케팅
                                프로그램</a></li>
                        <li class="nav-item"><a class="nav-link active fs-7 text-black" href="#!">고객센터</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container mx-auto login px-5 px-lg-5mb-5">

            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="text-center mx-auto fs-4 mt-5 fw-bold ">아이디 찾기</div>
            </div>

            <div class="login-text line-black-bold mx-auto pt-3 my-5">
                <label class = "my-2 fs-7 ms-2">
                    가입 시 등록하신 이메일 주소를 입력하시면</br>이메일 주소로 아이디를 보내드리겠습니다.
                </label>
            </div>

            <div class="mx-auto login-text mb-5">
                <div class="fs-8 mb-1">
                    이메일 주소
                </div>
                <input class="fs-7 px-2 pt-2 login-input" type="text" name="email" id="email" oninput="findid_emailInput()" placeholder="이메일 주소를 입력해주세요." required>
                <p class="fs-8 my-2" id="errorMessage-email" style="color: red; display: none;">이메일 주소의 형식이 아닙니다.</p>
            </div>
            <div class="mx-auto login-button mb-3 fs-6">
                <button onclick="idLoginInput()" id="login-button" class="w-100 h-100 border-0 rounded-4" disabled>아이디 찾기</button>
            </div>



        </div>
    </div>
        <!-- Footer-->
    <footer class="py-4 bg-dark mt-s mx-auto mb-sm-0 fs-7">
        <div class="footer-ho">
            <div class="container py-3 px-4 px-lg-5 text-center footer">
                <div class="text-white col-lg-4 float-start">개인정보처리방침</div>
                <div class="text-white col-lg-4 float-start line-white">이용약관</div>
                <div class="text-white col-lg-4 float-start line-white">청소년 보호정책</div>

            </div>
        </div>

        <div class="py-5 text-center footer">
            <div>
                <div class="text-white float-start col-lg-6">010-0000-0000</div>
                <div class="text-white float-start col-lg-6">yms06034@gmail.com</div>
            </div>
            <div class="text-white">
                &copy; 2022 MY TRIP ZONE. All Rights Reserved.
            </div>
        </div>

    </footer>
</body>

</html>