{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block head %}
  {{ block.super }}
{% endblock %}

{% block header %}
  {{ block.super }}
{% endblock %}

{% block content %}     
<div class="wrap mx-auto">

  <!-- Page Content-->
  <div class="container mx-auto login px-5 px-lg-5mb-5">

      <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="text-center mx-auto fs-4 fw-bold ">비밀번호 찾기</div>
      </div>

      <div class="login-text line-black-bold mx-auto pt-3 my-5">
          <label class = "my-2 fs-7 ms-2">
              가입 시 등록하신 아이디와 이메일 주소를 입력하시면</br>이메일 주소로 임시 비밀번호를 보내드리겠습니다.
          </label>
      </div>

      <div class="mx-auto login-text mb-5">
          <div class="fs-8 mb-1">
              아이디
          </div>
          <input class="fs-7 px-2 pt-2 login-input" type="text" name="id" id="input-id" oninput='findpwd_idInput()' placeholder="아이디를 입력해주세요." required>
          <p class="fs-8 my-2" id="errorMessage-id" style="color: red; display: none;">아이디는 알파벳과 숫자만 가능합니다.</p>
      </div>

      <div class="mx-auto login-text mb-5">
          <div class="fs-8 mb-1">
              이메일 주소
          </div>
          <input class="fs-7 px-2 pt-2 login-input" type="text" name="email" id="email" oninput="findpwd_emailInput()" placeholder="이메일 주소를 입력해주세요." required>
          <p class="fs-8 my-2" id="errorMessage-email" style="color: red; display: none;">이메일 주소의 형식이 아닙니다.</p>
      </div>
      <div class="mx-auto login-button mb-3 fs-6">
          <button onclick="findpwd()" id="login-button" class="w-100 h-100 border-0 rounded-4" disabled>이메일 발송</button>
      </div>



  </div>
</div>
{% endblock %}

{% block footer %}
  {{ block.super }}
{% endblock %}