{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block head %}
  {{ block.super }}
{% endblock %}

{% block header %}
  {{ block.super }}
{% endblock %}

{% block content %}     
<div class="wrap">
  <!-- Page Content-->
  <div class="container mx-auto login px-5 px-lg-5mb-5">
    <div class="logo_area my-center row gx-4 gx-lg-5 align-items-center my-5">
      <img src="../../static/images/logo.png" alt="logo" />
    </div>

    <div class="mx-auto login-text">
      <div class="fs-8 mb-1">아이디</div>
      <input
        class="fs-7 px-2 pt-2 login-input"
        type="text"
        name="id"
        oninput="idLoginInput()"
        id="input-login-id"
        placeholder="아이디를 입력해주세요."
      />
      <p
        class="fs-8 my-2"
        id="errorMessage-id"
        style="color: red; display: none"
      >
        아이디는 알파벳과 숫자만 가능합니다.
      </p>
    </div>
    <div class="mx-auto login-text">
      <div class="fs-8 mb-1">비밀번호</div>
      <input
        class="fs-7 px-2 pt-2 login-input"
        type="password"
        name="password"
        placeholder="비밀번호를 입력해주세요."
      />
    </div>

    <div class="mx-auto login-button test mb-3 text-center">
      <input
        type="button"
        value="카카오 계정으로 로그인"
        class="w-100 h-100 border-0 rounded-4 kakao fw-bold"
      />
    </div>

    <div class="mx-auto login-button mb-3 fs-6">
      <button
        onclick="idLoginInput()"
        id="login-button"
        class="w-100 h-100 border-0 rounded-4"
        disabled
      >
        로그인
      </button>
    </div>

    <div class="login-menu text-center mx-auto">
      <div class="col-lg-4 fs-8 float-start">
        <a class="text-dark" href="registration.html">회원가입</a>
      </div>
      <div class="line-grey col-lg-4 fs-8 float-start">
        <a class="text-dark" href="find_id.html">아이디 찾기</a>
      </div>
      <div class="line-grey col-lg-4 fs-8 float-start">
        <a class="text-dark" href="find_pwd.html">비밀번호 찾기</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {{ block.super }}
{% endblock %}